.App {
  text-align: center;
  height: 100vh;
}

.hourly-container {
  display: flex;
  // height: 100%;
  margin-top: 13%;
  margin-inline: 8%;

  border: 1px solid black;
  border-radius: 20px;
}
.hourly-box {
  border-radius: 20px;
}
.hours-temp {
  display: flex;
  flex-direction: column;
  h1 {
    margin-inline: 20px;
  }
}
